.conversation {
  margin-top: 30px;
  padding-left: 10px;
}

.conversation :global(.ant-timeline-item-head) {
  z-index: 2;
}

.conversation :global(.ant-timeline-item-content) {
  z-index: 1;
  padding: 0 0 20px 34px;
}

.conversation :global(li:last-child .ant-timeline-item-tail) {
  display: none;
}

.giver {
  font-weight: bold;
}

.giver:hover {
  text-decoration: underline;
}

.commentContent {
  padding: 10px 15px;
}

.commentFooter {
  padding: 10px 15px;
  border-top: 1px solid #E9E9E9;
}
